<h2><%= @mytest %></h2>

<%= @yourresults %>
<div id="nutri-label" style="{border-color: #ff0000;}" >
  <p id="nutri-label-header"><%= @quizquestion.brand_name %></p>
  <p id="nutri-label-info"><%= @quizquestion.item_name %>
    <span id="nutri-label-value"><%= @quizquestion.nf_serving_size_qty %> <%= @quizquestion.nf_serving_size_unit %></p>
  <div id="nutri-bar-thick">&nbsp;</div>
  <p id="nutri-label-strong">Serving Size
  	<span id= "nutri-label-value"><%= @quizquestion.nf_serving_weight_grams %> g</span></p>
  <p id="nutri-label-strong">Calories
  	<span id= "nutri-label-value"><%= @quizquestion.nf_calories %> g</span></p>
  <p id="nutri-label-light">Calories from Fat
    <span id ="nutri-label-value"><%= @quizquestion.nf_calories_from_fat %></span></p>
  <p id="nutri-label-strong">Total Fat
  	<span id= "nutri-label-value"><%= @quizquestion.nf_total_fat %> g</span></p>
  <p id="nutri-label-light">Saturated Fat
  	<span id= "nutri-label-value"><%= @quizquestion.nf_saturated_fat %> g</span></p>
  <p id="nutri-label-light"><i>Trans</i> Fat
  	<span id= "nutri-label-value"><%= @quizquestion.nf_trans_fatty_acid %> g</span></p>
  <p id="nutri-label-light">Polyunsaturated Fat
  	<span id= "nutri-label-value"><%= @quizquestion.nf_polyunsaturated_fat %> g</span></p>
  <p id="nutri-label-light">Monounsaturated Fat
  	<span id= "nutri-label-value"><%= @quizquestion.nf_monounsaturated_fat %> g</span></p>	
  <p id="nutri-label-strong">Cholesterol
  	<span id= "nutri-label-value"><%= @quizquestion.nf_cholesterol %> g</span></p>  
  <p id="nutri-label-strong">Sodium
  	<span id= "nutri-label-value"><%= @quizquestion.nf_sodium %> g</span></p>  
  <p id="nutri-label-strong">Total Carbohydrates
  	<span id= "nutri-label-value"><%= @quizquestion.nf_total_carbohydrate %> g</span></p>  
  <p id="nutri-label-light">Dietary Fiber
  	<span id= "nutri-label-value"><%= @quizquestion.nf_dietary_fiber %> g</span></p>	
<p id="nutri-label-light">Sugars
  	<span id= "nutri-label-value"><%= @quizquestion.nf_sugars %> g</span></p>
<p id="nutri-label-strong">Protein
  	<span id= "nutri-label-value"><%= @quizquestion.nf_protein %> g</span></p>
<div id="nutri-bar-thick">&nbsp;</div>
<p id="nutri-label-light">Vitamin A
  	<span id= "nutri-label-value"><%= @quizquestion.nf_vitamin_a_dv %> %</span></p>
<p id="nutri-label-light">Vitamin C
  	<span id= "nutri-label-value"><%= @quizquestion.nf_vitamin_c_dv %> %</span></p>
<p id="nutri-label-light">Calcium
  	<span id= "nutri-label-value"><%= @quizquestion.nf_calcium_dv %> %</span></p>
<p id="nutri-label-light">Iron
  	<span id= "nutri-label-value"><%= @quizquestion.nf_iron_dv %> %</span></p>
</div>

<div id="nutri-label">
  <p id="nutri-label-header"><%= @quizanswer.brand_name %></p>
  <p id="nutri-label-info"><%= @quizanswer.item_name %>
    <span id="nutri-label-value"><%= @quizanswer.nf_serving_size_qty %> <%= @quizanswer.nf_serving_size_unit %></p>
  <div id="nutri-bar-thick">&nbsp;</div>
  <p id="nutri-label-strong">Serving Size
  	<span id= "nutri-label-value"><%= @quizanswer.nf_serving_weight_grams %> g</span></p>
  <p id="nutri-label-strong">Calories
  	<span id= "nutri-label-value"><%= @quizanswer.nf_calories %> g</span></p>
  <p id="nutri-label-light">Calories from Fat
    <span id ="nutri-label-value"><%= @quizanswer.nf_calories_from_fat %></span></p>
  <p id="nutri-label-strong">Total Fat
  	<span id= "nutri-label-value"><%= @quizanswer.nf_total_fat %> g</span></p>
  <p id="nutri-label-light">Saturated Fat
  	<span id= "nutri-label-value"><%= @quizanswer.nf_saturated_fat %> g</span></p>
  <p id="nutri-label-light"><i>Trans</i> Fat
  	<span id= "nutri-label-value"><%= @quizanswer.nf_trans_fatty_acid %> g</span></p>
  <p id="nutri-label-light">Polyunsaturated Fat
  	<span id= "nutri-label-value"><%= @quizanswer.nf_polyunsaturated_fat %> g</span></p>
  <p id="nutri-label-light">Monounsaturated Fat
  	<span id= "nutri-label-value"><%= @quizanswer.nf_monounsaturated_fat %> g</span></p>	
  <p id="nutri-label-strong">Cholesterol
  	<span id= "nutri-label-value"><%= @quizanswer.nf_cholesterol %> g</span></p>  
  <p id="nutri-label-strong">Sodium
  	<span id= "nutri-label-value"><%= @quizanswer.nf_sodium %> g</span></p>  
  <p id="nutri-label-strong">Total Carbohydrates
  	<span id= "nutri-label-value"><%= @quizanswer.nf_total_carbohydrate %> g</span></p>  
  <p id="nutri-label-light">Dietary Fiber
  	<span id= "nutri-label-value"><%= @quizanswer.nf_dietary_fiber %> g</span></p>	
<p id="nutri-label-light">Sugars
  	<span id= "nutri-label-value"><%= @quizanswer.nf_sugars %> g</span></p>
<p id="nutri-label-strong">Protein
  	<span id= "nutri-label-value"><%= @quizanswer.nf_protein %> g</span></p>
<div id="nutri-bar-thick">&nbsp;</div>
<p id="nutri-label-light">Vitamin A
  	<span id= "nutri-label-value"><%= @quizanswer.nf_vitamin_a_dv %> %</span></p>
<p id="nutri-label-light">Vitamin C
  	<span id= "nutri-label-value"><%= @quizanswer.nf_vitamin_c_dv %> %</span></p>
<p id="nutri-label-light">Calcium
  	<span id= "nutri-label-value"><%= @quizanswer.nf_calcium_dv %> %</span></p>
<p id="nutri-label-light">Iron
  	<span id= "nutri-label-value"><%= @quizanswer.nf_iron_dv %> %</span></p>
</div>
