<h1>
  <%= @mytestquestion %>
</h1>

<% @quizquestions.each_with_index do |q,i| %>
  <%= form_tag({action: :check}, multipart: false) do %>
    <%= hidden_field_tag :answer, @winnerid %>
    <%= hidden_field_tag :iam, q.id %>
    <%= hidden_field_tag :mytest, @mytest %>
    <%= hidden_field_tag :mytopic, @mytopic %>
    <%= hidden_field_tag :mypoints, @mypoints %>
    <%= hidden_field_tag :mysubject, @mysubject %>
    <p><!--<span class = "input_text_as_button">
       <%= submit_tag((i+1).to_s, :name => 'option[default]') %></span> -->
      <% @mybonus.each do |name| %>
        <%= image_submit_tag("#{root_url}assets/button-#{name}.png", :name => "option[#{name}]") %>
      <% end %>
      <%= image_submit_tag("#{root_url}assets/button-#{@mypoints.to_s}.png", :name => "option[default]") %>
    <%= q.brand_name + "  " + removecommas(q.item_name) %></p>
  <% end %>
<% end %>

<% if @myscore.to_i <= 10 then %>
  <p>* Amounts are compared per gram due to different serving sizes.</p>
<% end %>
