<h1><%= @mytestquestion %></h1>

<% @quizquestions.each_with_index do |q,i| %>

  <%= form_tag({action: :check}, multipart: false) do %>
    <%= hidden_field_tag :answer, @winnerid %>
    <%= hidden_field_tag :iam, q.id %>
    <%= hidden_field_tag :mytest, @mytest %>
    <%= hidden_field_tag :mytopic, @mytopic %>
    <%= hidden_field_tag :mysubject, @mysubject %>
    <%= hidden_field_tag :mypoints, @mypoints %>
    <p><%= submit_tag((i+1).to_s, :name => 'option[default]') %>
       <%= image_submit_tag("#{root_url}assets/button-cherry.png", :name => 'option[cherry]') %>
       <%= image_submit_tag("#{root_url}assets/button-grain.png", :name => 'option[grain]') %>

    <%= q.brand_name + "  " + removecommas(q.item_name) %></p>
  <% end %>

<% end %>

<p>* Amounts are compared per gram due to different serving sizes.</p>
