<h1><%= @mytestquestion %></h1>

<% @quizquestions.each_with_index do |q,i| %>
  <%= form_tag({action: :check}, multipart: false) do %>
    <%= hidden_field_tag :answer, @winnerid %>
    <%= hidden_field_tag :iam, q.id %>
    <%= hidden_field_tag :mytest, @mytest %>
    <%= hidden_field_tag :mytopic, @mytopic %>
    <p><%= submit_tag((i+1).to_s) %> <%= q.brand_name + "  " + removecommas(q.item_name) %></p>
  <% end %>
<% end %>

<h1 style="text-align: center;"><%= link_to "Another Question", 'quests' %></h1>

<p>* Amounts are compared by the percentage of the serving size.</p>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your like button code -->
<div class="fb-like"
	data-href="https://whatsinyourfood.herokuapp.com" 
	data-layout="standard"
	data-action="like"
	data-show-faces="true">
</div>

<!--
<% @quizquestions.each do |q| %>
  <% if q.nf_ingredient_statement.nil? == false then %>
    <h3><%= q.item_name %></h3>
    <h5><%= q.nf_ingredient_statement.capitalize! %></h5>
  <% end %>
<% end %>
!-->
