<!-- TODO css for login box -->
<div id="login">
  <% if @needlogin then %>
    <h1>Keep your scores with a name and password</h1>

    <%= form_tag({action: :login, controller: 'static_pages'}, multipart: false) do %>
      <%= text_field_tag :myname, "display name", :id => "text_name" %>&nbsp;
      <%= text_field_tag :mypassword, "password", :id => "text_password" %>&nbsp;&nbsp;&nbsp;
      <%= submit_tag("login", :id => "button_login") %>
    <% end %>
  <% else %>
    <h1>Welcome <%= @playerobject.name %></h1>
  <% end %>
  <h1><%= @loginmessage %></h1>
</div>
