<h3>Are you the kind of person that actually reads the nutrition information label?</h3>
<h3>This site collects product information provided by the <a href = "https://www.mashape.com/">Mashape API</a> to see how well you uderstand the contents of a nutrition information label</h3>

<h3><img src="<%= root_url %>assets/button-5.png"> The answer is collected from the bottom 30% of the value, and the choices are chosen from the opposing 30%</h3>
<h3><img src="<%= root_url %>assets/button-10.png"> The answer is collected from the bottom 30% of the value, and the choices are chosen from the opposing 70%</h3>
<h3><img src="<%= root_url %>assets/button-20.png"> The choices are within 30% of the products values</h3>
<h3 style="text-align: center;"> Are you sure of your answer?</h3>
<h3><img src="<%= root_url %>assets/button-cherry.png">
  <img src="<%= root_url %>assets/button-grain.png">
  <img src="<%= root_url %>assets/button-broccoli.png">
  <img src="<%= root_url %>assets/button-strawberry.png">
  <img src="<%= root_url %>assets/button-lettuce.png">
Increase your score with these options. Use them or loose them!</h3>

<h3 style="text-align: center;"><%= link_to "Take the quiz", 'quests' %></h3>
