<div style="padding: 10px 200px 10px 200px;">
  <div class="cycle-slideshow"
    data-cycle-fx="scrollHorz"
    data-cycle-speed="200">
    <% 7.times do |i| %>
      <img src=<%= root_url + "assets/display/display-" + i.to_s + ".png" %> >
    <% end %>
  </div>
</div>

<h1 style="text-align: center;"><%= link_to "Go!", 'quests' %></h1>

<% if @needlogin == true then %>
  <h2 style="padding: 40px 60px 0px 40px;">Create a name and password if you would like to keep your scores</h2>
  <%= form_tag({action: :login}, multipart: false, style: "padding: 0px 60px 0px 40px;") do %>
    <p class = "mobile_input_text_as_button">
      <%= text_field_tag :myname, "display name" %>&nbsp;
    <%= text_field_tag :mypassword, "password" %>&nbsp;&nbsp;&nbsp;
    <%= submit_tag("login") %>
    </p>
  <% end %>
<% else %>
  <h2 style="padding: 40px 60px 40px 40px;">Welcome <%= @playername %></h2>
<% end %>

<h2 style="padding: 5px 60px 0px 40px;"><%= @loginmessage %></h2>
