<div id="stats-block">

<% @results.each do |r| %>
  <p id="stats-light">
  <%= r['playerpercentcorrect'] %> %  <%= r['percentcorrect'] %> %    <%= r['name'] %>
  </p>
<% end %>

</div>

<h2><%= @name %></h2>

<h4>Testing on <%= @productcount %> products</h4>
<h4>Used by <%= @playercount %> players</h4>
