<h2><%= @name %></h2>

<h4>Testing on <%= @productcount %> products</h4>

<% @results.each do |r| %>
  <h3><%= r['playerpercentcorrect'] %> %  <%= r['percentcorrect'] %> %    <%= r['name'] %></h3>
<% end %>
