<div id="nutri-label" style="width: 300px; margin-left:175px; margin-top: 10px; background-color: #ffffff;">

<h4>Global % of correct answers
  <span class="nutrivalue"><%= @name %> %</span>
</h4>

<% @results.each do |r| %>
  <h6><%= r['percentcorrect'] %> %    <%= r['name'] %>
  <span class="nutrivalue"><%= r['playerpercentcorrect'] %> %</span>
  </h6>
<% end %>

<h4>You Answered <span class="nutrivalue"><%= @playertotal %> Questions</span></h4>
<h4>Your Score <span class="nutrivalue"><%= @playerpercent %> % Correct</span></h4>
<h4>Testing on <span class="nutrivalue"><%= @productcount %> products</span></h4>
<h4>Used by <span class="nutrivalue"><%= @playercount %> players</span></h4>
</div>
