<% if flash.count == 0 then %>
  <h1><span class = "nutrivalue"><img src=<%= root_url + "assets/ribbon-#{@mypoints}.png" %>></span>
    What is in Your Food?</h1>
  <h2><span class = "nutrivalue"><%= @mysubject %> : <%= @myscore %> pts </span>
    Test your knowledge of nutrition requirements</h2>
<% else %>
  <h1>What is in Your Food?</h1>
<% end %>

<% flash.each do |key, value| %>
  <h2><img src=<%= root_url + "assets/header-#{key}.png" %>>
  <%= value %></h2>
  <% flash.delete(key) %>
<% end %>
