<h1><%= @mysubject %> <img src=<%= root_url + 'assets/ribbon-blue.png' %>>
<img src=<%= root_url + 'assets/ribbon-tease.png' %>>
<img src=<%= root_url + 'assets/ribbon-tease.png' %>>

<%= params['option'].first[0] %>
you win <%= @mypoints %>
</h1>
