
  <% if @mypoints then %>
    <h1><span class = "nutrivalue">
      <img src=<%= root_url + "assets/ribbon-#{@mypoints}.png" %>></span>
      What is in Your Food?</h1>
    <h2><span class = "nutrivalue" id = "score"><%= @myscore %> pts </span>
      The <%= @mysubject %> challenge</h2>
  <% else %>
    <h1>What is in Your Food?</h1>
    <h2>Test your knowledge of nutrition requirements</h2>
  <% end %>


<% flash.each do |key, value| %>
  <h2  id = "flash"><img src=<%= root_url + "assets/header-#{key}.png" %>>
  <%= value %></h2>
  <% flash.delete(key) %>
<% end %>
