<!DOCTYPE html>
<html>
<head>
  <title>Whatsinyourfood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Facebook Open Graph tags !-->
  <meta property="og:url"         content="<%= root_url %>" />
  <meta property="og:type"        content="article" />
  <meta property="og:title"       content="Whats in your Food?" />
  <meta property="og:description" content="A quiz based on nutrition information." />
  <meta property="og:image"       content="<%= root_url + 'assets/logo.png' %>" />

</head>
<body>
  <!--Div and Script for Facebook Share !-->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=260554340991212";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <!--end Div and Script for Facebook Share !-->
  
<div id="wrap">
  <div id="header">
    <h1>What is in Your Food?</h1>
    <h2>Test your knowledge of nutrition requirements</h2>
  </div>

<div id="menu">
  <ul>
    <li><%= link_to "New Question", 'quests' %></li>
    <li><%= link_to "Stats for nerds", 'stats' %></li>
    <li><%= link_to "About", root_path %></li>
  </ul>
</div>

<div id="content">
<%= yield %>
</div>

<div id="footer">
<p>&copy; 2016 Theodore DOttavio</p>
</div>

</div>

<% if Rails.env.development? then %>
  <%= debug(params) %>
  <br>Current User ID -> <%= $userid %>
<% end %>

</body>
</html>
