<!DOCTYPE html>
<html>
<head>
  <title>Whatsinyourfood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrap">
  <div id="header">
    <h1>What is in Your Food?</h1>
    <h2>Test your knowledge of nutrition requirements</h2>
  </div>

<div id="menu">
  <ul>
    <li><%= link_to "New Question", 'quests' %></li>
    <li><%= link_to "Stats for nerds", 'stats' %></li>
    <li><%= link_to "About", '' %></li>
  </ul>
</div>

<div id="content">
<%= yield %>
</div>
<!--<div style="clear: both;"> </div>-->

<div id="footer">
<p>&copy; Copyright 2016 Theodore DOttavio</p>
</div>

</div>
</body>
</html>
